section.site-content {
    background-color: white;
    display: block;
    height: 600px;
    margin: 0 auto;
    overflow: auto;
    padding: 20px;
    scroll-behavior: smooth;
    scrollbar-color: #CCCCCC white;
    scrollbar-width: thin;
    width: 400px;
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background: white;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #CCCCCC;
        border-radius: 20px;
        border: 3px solid white;
    }
    form.busca {
        align-items: stretch;
        display: flex;
        justify-content: center;
        svg {
            background-color: #EFEFEF;
            font-size: 16px;
            padding: 15px 20px;
        }
        input {
            background-color: #EFEFEF;
            border: 0 none;
            font: 400 14px $fonte;
            outline: none;
            padding: 0 30px 0 0px;
        }
    }
    div.letras {
        align-content: stretch;
        align-items: stretch;
        display: flex;
        flex-flow: row nowrap;
        gap: 10px;
        justify-content: flex-start;
        margin: 20px -15px 0;
        overflow-x: auto;
        scroll-behavior: smooth;
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
        &::-webkit-scrollbar {
            width: 10px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        a {
            border-radius: 100px;
            cursor: pointer;
            flex: 0 1 auto;
            font: 400 18px/28px $fonte;
            line-height: 50px;
            min-height: 50px;
            min-width: 50px;
            text-align: center;
            transition: all .25s ease;
            &:hover {
                background-color: #EFEFEF;
            }
        }
    }
    div.contatos {
        ul.lista-contatos {
            li {
                padding: 10px 0;
            }
        }
    }
}