section.site-content {
    background-color: white;
    display: block;
    height: 600px;
    margin: 0 auto;
    overflow: auto;
    padding: 20px;
    width: 400px;
    form.busca {
        svg {
            background-color: #EFEFEF;
        }
        input {
            background-color: #EFEFEF;
            border: 0 none;
        }
    }
    div.letras {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        gap: 5px;
        justify-content: flex-start;
        margin: 20px -15px;
        overflow-x: auto;
        a {
            cursor: pointer;
            flex: 1 1 20px;
            font: 400 18px $fonte;
            height: 50px;
            padding: 10px 20px;
            width: 52px;
            &:hover {
                background-color: #EFEFEF;
                border-radius: 100px;
            }
        }
    }
}