section.site-content {
    background-color: white;
    display: block;
    height: 600px;
    margin: 0 auto;
    overflow: auto;
    padding: 20px;
    position: relative;
    scroll-behavior: smooth;
    scrollbar-color: #CCCCCC white;
    scrollbar-width: thin;
    width: 400px;
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background: white;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #CCCCCC;
        border-radius: 20px;
        border: 3px solid white;
    }
    form {
        align-items: stretch;
        display: flex;
        justify-content: center;
        svg {
            background-color: #EFEFEF;
            font-size: 16px;
            padding: 15px 20px;
        }
        input {
            background-color: #EFEFEF;
            border: 0 none;
            font: 400 14px $fonte;
            outline: none;
            padding: 0 30px 0 0px;
        }
    }
    div.letras {
        align-content: stretch;
        align-items: stretch;
        display: flex;
        flex-flow: row nowrap;
        gap: 10px;
        justify-content: flex-start;
        margin: 20px -15px 0;
        overflow-x: auto;
        scroll-behavior: smooth;
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
        &::-webkit-scrollbar {
            width: 10px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        a {
            border-radius: 100px;
            cursor: pointer;
            flex: 0 1 auto;
            font: 400 18px/28px $fonte;
            line-height: 50px;
            min-height: 50px;
            min-width: 50px;
            text-align: center;
            transition: all .25s ease;
            &:hover {
                background-color: #48A7FF22;
            }
        }
    }
    div.contatos {
        ul.lista-contatos {
            li {
                cursor: pointer;
                transition: all .5s ease;
                figure {
                    align-items: center;
                    display: flex;
                    justify-content: flex-start;
                    padding: 10px;
                    img.img-contato {
                        background: white;
                        border: 1px solid transparent;
                        border-radius: 50%;
                        flex: 0 1 40px;
                        height: auto;
                        margin-right: 10px;
                        max-width: 40px;
                    }
                }
                &:hover {
                    background-color: #48A7FF22;
                }
            }
        }
    }
    &.modal-open {
        overflow: hidden;
    }    
}

.popup {
    background-color: #FFFFFF;
    display: flex;
    flex-flow: column nowrap;
    height: 600px;
    left: 50%;
    opacity: 0;
    padding: 10px 20px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s ease-in-out;
    visibility: hidden;
    width: 400px;
    button {
        align-self: flex-end;
        background-color: transparent;
        border: 0 none;
        color: tomato;
        cursor: pointer;
        font-size: 25px;
        float: right;
        opacity: .5;
        position: relative;
        transition: all .25s ease;
        z-index: 10;
        &:hover {
            color: red;
            opacity: 1;
        }
    }
    figure {
        background-color: #48A7FF22;
        border: 1px solid #48A7FF;
        border-radius: 100%;
        height: 250px;
        margin: 0 auto 20px;
        overflow: hidden;
        text-align: center;
        width: 250px;
        img {
            max-width: 250px;
        }
    }
    h2 {
        font: bold 25px $fonte;
        margin: 0 0 20px;
        text-align: center;
    }
    p {
        a {
            align-items: center;
            color: black;
            display: flex;
            flex-flow: row wrap;
            margin: 10px 0;
            text-decoration: none;
            transition: all .25s ease;
            svg {
                color: #48A7FF;
                font-size: 20px;
                flex: 0 1 15%;
                transition: all .25s ease;
            }
            span {
                line-height: 22px;
            }
            &:hover {
                svg {
                    color: red;
                }
            }
        }
    }
    &.fade {
        opacity: 1;
        visibility: visible;
        top: 50%;
        transform: translate(-50%, -55.7%);
    }
}